# deps
node_modules/

# output
.make
lib/

dist/
tmp/

# Output of 'npm pack'
*.tgz

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

!*/.keep
